torch==2.8.0
tensorflow[and-cuda]==2.20.0
tensorrt
transformers==4.57.1
git+https://github.com/huggingface/diffusers.git@b4e6dc3037e75e2dc16466b914b1be597b06be9a
accelerate==1.10.1
xformers==0.0.32.post2
torchvision==0.23.0
bitsandbytes==0.48.1

fastapi==0.122.0
uvicorn[standard]==0.38.0
